!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Welcome
  body
    #content
      div#controls
        div#buttons
          button#prev prev
          button#play play/pause
          button#next next
          button#rand random
          button#repeat repeat
          button#consume consume
        p#message Attempting to connect to the server over websockets or Socket.IO fallback transports...
        p#status Current status
        div#song
            div#title title
            div#artist artist
            div#album album
        div#playingInfo
        div#playing
      button#add Add playlist
      button#replace Replace with playlist
      div#playlists
      script(type="text/javascript")
        $("#play").mousedown(function(e){
          SS.server.mpd.play(null);
        })
        $("#prev").mousedown(function(e){
          SS.server.mpd.prev();
        })
        $("#next").mousedown(function(e){
          SS.server.mpd.next();
        })
        $("#rand").mousedown(function(e){
          SS.server.mpd.random();
        })
        $("#consume").mousedown(function(e){
          SS.server.mpd.consume();
        })
        $("#repeat").mousedown(function(e){
          SS.server.mpd.repeat();
        })


